<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header');-%>
    <body>
        <!-- Navigation-->
        <%-include('layouts/navbar');-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Register a new account</h1>
                            <span class="subheading">Register yourself for writing Amazing Blogs</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>A blog (a shortened version of “weblog”) is an online journal or informational website displaying information.</p>
                        <div class="my-5">
                            
                            <form action="/users/register" method="post">
                                <div class="form-floating">
                                    <input class="form-control" id="username" type="text" placeholder="User Name..." name="username"/>
                                    <label for="username">User Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="password" type="password" placeholder="Password..." name="password"/>
                                    <label for="password">Password</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" type="email" placeholder="Email..." name="email"/>
                                    <label for="email">Email</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="number" placeholder="Mobile-Number..." id="number" >
                                    <label for="number">Mobile-Number</label>
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary" id="submitButton" type="submit">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%-include('layouts/footer');-%>
        <!-- JS-->
        <%-include('layouts/scripts');-%>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
